<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SelectSoap"  maxReceivedMessageSize="10000000"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="SelectSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://10.111.114.247:8000/Select.asmx" binding="basicHttpBinding"
                bindingConfiguration="SelectSoap" contract="WebSrv.SelectSoap"
                name="SelectSoap" />
            <endpoint address="http://10.111.114.247:8000/Select.asmx" binding="customBinding"
                bindingConfiguration="SelectSoap12" contract="WebSrv.SelectSoap"
                name="SelectSoap12" />
        </client>
    </system.serviceModel>
</configuration>